// vars

$button-width: 20px;
$button-height: 20px;
$bar-thickness: 3px;
$button-pad: 0px;
$button-trans-delay: 0.3s;	

.cmn-back {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: $button-width;
	height: $button-height;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background $button-trans-delay;
	background: transparent;
	@include no-appearance();

	&:focus {
		outline: none;
	}

	& span {
		display: block;
		position: absolute;
		top: ($button-height / 2) - ($bar-thickness / 2);
		left: $button-pad;
		right: $button-pad;
		height: $bar-thickness;
		background: transparent;
		border-radius: $bar-thickness/2;
	}
	
	& span::before,
	& span::after {
	  position: absolute;
	  display: block;
	  left: 0;
	  width: 100%;
	  height: $bar-thickness;
	  background-color: #fff;
	  border-radius: $bar-thickness/2;
	  content: "";
	}

	& span::before {
		top: 0;
		//top: -(($button-height / 2) - ($bar-thickness) - $button-pad);
		transform: rotate(-45deg);
		transform-origin: left bottom 0;
	}

	& span::after {
		top: 0;
		//bottom: -(($button-height / 2) - ($bar-thickness) - $button-pad);
		transform: rotate(45deg);
		transform-origin: left top 0;
	}

	@media (min-width: $screen-sm-min) {
		display: none;
	}

}