.uslugi {

	&__item {
		margin-top: 13px;
		border: 1px solid #bcbcbc;
		border-radius: $border-radius;
		box-shadow: 0px 5px 15px 0px rgba(188, 188, 188, 1);

		&:first-child {
			margin-top: 0px;
		}
	}
}