.header {
	background: #0d51b3;
	height: 80px;
	position: relative;
	color: #fff;

	&__inner {
		display: flex;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		height: 80px;
		padding-right: 30px;
		padding-left: 30px;

		 @include media-breakpoint-up(xs) {
			padding-right: 15px;
			padding-left: 15px;
		} 
	}

	&__top-left {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
	}

	&__gumburger {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		width: 80px;
	} 
}
