.page {
    background-color: #fff;
    height: 100%;
    width: 100%;
    
    &__wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    &__middle {
        flex: 1 0 auto;
    }
    
    &__header {
        height: $header-height;
        flex: 0 0  $header-height;
    }
    
    &__footer {
       flex: 0 0 auto;
    }

}