.resp-table-wrap {
	position: relative;

  &__inner { -webkit-overflow-scrolling: touch; overflow-x: auto; position: relative; }
	
  &__left-border, &__right-border {
    position: absolute; width: 20px; top: 0px; bottom: 0px; pointer-events: none; overflow: hidden;
  }
  &__left-border { left: 0; }
  &__left-border:before {
     content: ''; position: absolute; width: 1px; top: 15px; bottom: 15px; left: 0;  
     box-shadow: 0px 0px 20px 0px $table-border-color;;   
  }
  &__left-border:after {
      content: ''; position: absolute; width: 1px; top: 0px; bottom: 0px; left: 0; background: $table-border-color;
  } 
  &__right-border { right: 0; }
  &__right-border:before {
     content: ''; position: absolute; width: 1px; top: 15px; bottom: 15px; right: 0;  
     box-shadow: 0px 0px 20px 0px $table-border-color;   
  }
  &__right-border:after {
      content: ''; position: absolute; width: 1px; top: 0px; bottom: 0px; right: 0; background: $table-border-color;
  } 
}

.resp-table-wrap {
  overflow-x: auto;
  min-height: 0.01%;

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}